<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Train</title>
<link rel="icon" href="img/train-icon.ico" type="image/x-icon">
<link rel="stylesheet" th:href="@{/CSS/addTrains.css}">
 

</head>
<body>
	<div>
	<h1 class="head" align="center">TRAVELLING TRAIN</h1>
	</div>



	<table>
        <tr>
            <th width="8%" ><a th:href="@{/admin/adminLogin}">Home Page</a></th>
            <th width="8%" ><a th:href="@{/admin/list_users/0}">List All Users</a></th>
            <th width="8%"><a th:href="@{/admin/trainMaster}">Train Master</a></th>
            <th width="8%"><a th:href="@{/admin/addTrain}">Add Train</a></th>
            <th width="8%"><a th:href="@{/admin/allTrains/0}">Show Train</a></th>
            <th width="8%"><a th:href="@{/admin/displayTrainAndPassenger/0}">Display Train & Passenger</a></th>
            <th width="8%"><a th:href="@{/logout}">Logout</a></th>
        </tr>
    </table>
	
	
	
	<div class="container1">
		<div class="title">Add Train Details</div>
		<!-- Start of Alert Message Filed -->
				<div class="message">
				<div th:if="${session.message}">
					<div class="alert alert-primary" role="alert"
						th:classappend="${'alert-'+session.message.type}">
						<span class="text-dark fw-bold"
							th:text="${session.message.content}"></span>
					</div>
					<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				</div>
				</div>
	<!-- End of Alert Message Filed -->
		<div class="content">
			<form th:action="@{/admin/addTrainDetails}" method="post">
				<div class="user-details">
					<div class="input-box">
						<span class="details">Train Name</span> <input type="text"
							placeholder="Enter Train Name" name="trainName" id="alphabet" required>
						<span id="alphabetError" style="color: yellow;"></span>
					</div>
					<div class="input-box">
						<span class="details">Schedule</span> 
                        <select name="schedule" class="col-10" required>
                            <option title="--select--">--select--</option>
                            <option value="Daily">Daily</option>
                            <option value="Weekly">Weekly</option>
                            </select>
					</div>
					<div class="input-box">
						<span class="details">Train Stops</span> 
                        <select name="numberOfStops" class="form-control" >
                            <option title="--select--">--select--</option>
                                <option th:each="trainmasters:${trainMaster}"
                                        th:value="${trainmasters.id}"
                                        th:text="${trainmasters.numOfStops}" >
                                    	
                                </option>
                            </select>
					</div>
					<div class="input-box">
						<span class="details">Train From</span> <input type="text"
							placeholder="Enter Train From" name="trainFrom" id="alphabets"
							 required>
							 <span id="alphabetsError" style="color: yellow;"></span>
					</div>
					<div class="input-box">
						<span class="details">Train To</span> <input type="text"
							placeholder="Enter Train To" name="trainTo" id="alphabetss" required>
							<span id="alphabetssError" style="color: yellow;"></span>
					</div>
					<div class="input-box">
						<span class="details">Departure Date</span> <input type="date"
							placeholder="Enter Departure Date" name="departureDate" required>
					</div>
                    
                    <div class="input-box">
						<span class="details">Train From Timing</span> <input type="time"
							placeholder="Enter Train From Timing" name="trainFromTiming" required>
					</div>

                    <div class="input-box">
						<span class="details">Train To Time</span> <input type="time"
							placeholder="Enter Train To Time" name="trainToTime" required>
					</div>

					<div class="input-box">
						<span class="details">Ticket Price</span> <input type="text"
							placeholder="Enter Ticket Price" name="ticketPrice" id="number"
							 required>
							<span id="numberError" style="color: yellow;"></span>
						</div>
					
				</div>
				<div class="button">
					<input type="submit" value="Submit" onclick="validateAlphabet(event),validateAlphabets(event),validateAlphabetss(event),validateNumber(event)">
				</div>
				
			</form>
		</div>
	</div>
	

	
	<script>
    var date = new Date();
    var tdate = date.getDate();
    var month = date.getMonth() + 1;//returns previous month so add +1
   
   
    if(tdate < 10){
    tdate = "0" + tdate;
   }


    if(month < 10){// index starts 0 to 9
        month = "0" + month;
    }
   
   
    var year = date.getUTCFullYear() ;
    var minDate = year + "-" + month + "-" + tdate;

    document.getElementById("demo").setAttribute('min',minDate);

    console.log(minDate);


</script>

<script>
    function validateAlphabet(event) {
      event.preventDefault();
      const alphabetInput = document.getElementById('alphabet');
      const alphabetError = document.getElementById('alphabetError');
      const alphabetRegex = /^[a-zA-Z]+$/; // Regular expression to match alphabets only
      
      if (!alphabetRegex.test(alphabetInput.value)) {
        alphabetError.textContent = 'Invalid alphabet format. Please enter alphabets only.';
      } else {
        alphabetError.textContent = '';
        alphabetInput.setCustomValidity('');
        document.forms[0].submit();
      }
    }
  </script>
  
  <script>
    function validateAlphabets(event) {
      event.preventDefault();
      const alphabetsInput = document.getElementById('alphabets');
      const alphabetsError = document.getElementById('alphabetsError');
      const alphabetsRegex = /^[a-zA-Z]+$/; // Regular expression to match alphabets only
      
      if (!alphabetsRegex.test(alphabetsInput.value)) {
        alphabetsError.textContent = 'Invalid alphabet format. Please enter alphabets only.';
      } else {
        alphabetsError.textContent = '';
        alphabetsInput.setCustomValidity('');
        document.forms[0].submit();
      }
    }
  </script>
  
    <script>
    function validateAlphabetss(event) {
      event.preventDefault();
      const alphabetssInput = document.getElementById('alphabetss');
      const alphabetssError = document.getElementById('alphabetssError');
      const alphabetssRegex = /^[a-zA-Z]+$/; // Regular expression to match alphabets only
      
      if (!alphabetssRegex.test(alphabetssInput.value)) {
        alphabetssError.textContent = 'Invalid alphabet format. Please enter alphabets only.';
      } else {
        alphabetssError.textContent = '';
        alphabetssInput.setCustomValidity('');
        document.forms[0].submit();
      }
    }
  </script>
  
  	  <script>
    function validateNumber(event) {
      event.preventDefault();
      const numberInput = document.getElementById('number');
      const numberError = document.getElementById('numberError');
      const numberRegex = /^\d+$/; // Regular expression to match numbers only
      
      if (!numberRegex.test(numberInput.value)) {
        numberError.textContent = 'Invalid number format. Please enter digits only.';
      } else {
        numberError.textContent = '';
        numberInput.setCustomValidity('');
        document.forms[0].submit();
      }
    }
  </script>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  

</body>
</html>
