<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Add Train Details</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/CSS/book_ticket.css}">

</head>
<body>

	<div class="text-center">
		<div class="contain">
			<div class="row">
				<div>
					<h1 th:align="center">TRAVELLING TRAIN</h1>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			
		</div>

		<table class="first-table">
			<tr>
				<th width="8%"><a th:href="@{/user/home}">Home Page</a></th>
				<th width="8%"><a th:href="@{/user/searchTrain}">Search Train</a></th>
				<th width="8%"><a th:href="@{/logout}">Logout</a></th>
			</tr>

		</table>

		<div class="row justify-content-center">
			<div class="container">

				<h3>Book Train Ticket</h3>

				<!-- alert message -->
				<div class="message">
					<div th:if="${session.message}">
						<div class="alert alert-primary" role="alert"
							th:classappend="${'alert-'+session.message.type}">
							<span class="text-dark fw-bold"
								th:text="${session.message.content}"></span>
						</div>
						<th:block th:text="${#session.removeAttribute('message')}"></th:block>
					</div>
				</div>
				<!-- alert message -->

				<div>
					<form th:action="@{/user/bookTrainTicket}" method="post"
						style="max-width: 600px; margin: 0 auto;">
						
						<input type="hidden" name="id" th:field="${addTrains.id}">
						
						<div class="m-2">

							<div class="form-group row">
								<label class="col-form-lable col-4">Train Name</label>
								<div class="col-6">
									<input type="text" class="form-control" name="trainName"
										th:value="${addTrains.trainName}" required
										readonly="readonly"  />
								</div>
							</div>

							<div class="form-group row">
								<label class="col-form-lable col-4">Schedule</label>
								<div class="col-6">
									<input type="text" class="form-control" name="schedule"
										th:value="${addTrains.schedule}" required
										readonly="readonly"  />
								</div>
							</div>

							<div class="form-group row">
								<label class="col-form-lable col-4">Train From</label>
								<div class="col-6">
									<input type="text" name="trainFrom" class="form-control"
										th:value="${addTrains.trainFrom}" required
										readonly="readonly" />
								</div>
							</div>

							<div class="form-group row">
								<label class="col-form-lable col-4">Train To</label>
								<div class="col-6">
									<input type="text" name="trainTo" class="form-control"
										th:value="${addTrains.trainTo}" required
										readonly="readonly" />
								</div>
							</div>

							<div class="form-group row">
								<label class="col-form-lable col-4">Departure Date</label>
								<div class="col-6">
									<input type="date" name="departureDate" class="form-control"
										th:value="${addTrains.departureDate}" required
										readonly="readonly" />
								</div>
							</div>

							<div class="form-group row">
								<label class="col-form-lable col-4">Train From Timing</label>
								<div class="col-6">
									<input type="time" name="trainFromTiming" class="form-control"
										th:value="${addTrains.trainFromTiming}" required
										readonly="readonly" />
								</div>
							</div>

							<div class="form-group row">
								<label class="col-form-lable col-4">Train To Time</label>
								<div class="col-6">
									<input type="time" name="trainToTime" class="form-control"
										th:value="${addTrains.trainToTime}" required
										readonly="readonly" />
								</div>
							</div>

							<div class="form-group row">
								<label class="col-form-lable col-4">First Name</label>
								<div class="col-6">
									<input type="text" name="firstName" class="form-control"
										required placeholder="Enter Your FirstName" />
								</div>
							</div>

							<div class="form-group row">
								<label class="col-form-lable col-4">Last Name</label>
								<div class="col-6">
									<input type="text" name="lastName" class="form-control"
										required placeholder="Enter your LastName"  />
								</div>
							</div>

							<div class="form-group row">
								<label class="col-form-lable col-4">Email</label>
								<div class="col-6">
									<input type="email" name="email" class="form-control" required
										placeholder="Enter your Email" minlength="13"
										maxlength="100" />
								</div>
							</div>

							<div class="form-group row">
								<label class="col-form-lable col-4">Age</label>
								<div class="col-6">
									<input type="text" name="age" class="form-control" required
										placeholder="Enter Your Age" minlength="1" maxlength="2" />
								</div>
							</div>

							<div class="form-group row">
								<label class="col-form-lable col-4">Gender</label>
								<div class="col-6">
									<select name="gender" class="col-10">
										<option value="">--Select--</option>
										<option value="Male">Male</option>
										<option value="Female">Female</option>
										<option value="TransGender">TransGender</option>
									</select>
								</div>
							</div>

							<div class="form-group row">
								<label class="col-form-lable col-4">Phone Number</label>
								<div class="col-6">
									<input type="mobile" name="phone" class="form-control" required
										placeholder="Enter Your Phone Number" minlength="10"
										maxlength="10" />
								</div>
							</div>

							<div class="form-group row">
								<label class="col-form-lable col-4">Aadhar Number</label>
								<div class="col-6">
									<input type="text" name="aadharNumber" class="form-control"
										required placeholder="Enter your AadharNumber" minlength="12"
										maxlength="12" />
								</div>
							</div>

							<div class="form-group row">
								<label class="col-form-lable col-4">Ticket Price</label>
								<div class="col-6">
									<input type="text" name="ticketPrice" class="form-control"
										th:value="${addTrains.ticketPrice}" required
										readonly="readonly"  />
								</div>
							</div>

							<div>
								<button type="submit"  class="btn btn-success">Submit</button>
							</div>

						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
	<br>

</body>
</html>