@charset "ISO-8859-1";
.table {
	background-color: #EAB200;
	text-align: center;
	border-radius: 10px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	position: sticky;
	top: 0;
	box-shadow: 0 0 10px #333;
}
h1 {
	
	background-color: #ccc;
	font-weight: bold;
	
}
/* }.bg-image { */
/* align-items: center; */
/* padding-left: 30%; */
/* } */

body {
	background-color: #077D68;
	font-family: 'Poppins',sans-serif;
}
marquee {
	background-color: #ffffff;
	margin-bottom: 5px;
}

.column1{
	color: #ffffff;
	align-items:center;
	outline: 2px solid black;
	margin-left: 20px;
	margin-right: 2px;
	border-radius: 5px;
	font-family: sans-serif;
	margin-bottom: 20px;
}
h2{
	color: #232323;
	background-color: #fff;
	border-color: black;
	border-radius: 5px;
}
.column2{
	color: #ffffff;
	outline: 2px solid black;
	margin-left: 10px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	justify-content: center;
	font-family: sans-serif;
}
strong {
	color: #EAB200;
}
a{
	color: #232323;
	text-decoration: none;
}

p{
	margin-left: 10px;
}

footer{
	
	}